@model IEnumerable<SingingFinder.Core.Event>

@foreach (var group in Model.OrderBy(m => m.Singing.Month).GroupBy(m => m.Singing.Month))
{
    <h2>@group.Key</h2>
    <table class="table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th style="width: 20%">Day</th>
            <th style="width: 20%">Name</th>
            <th>Next Scheduled Date</th>
            <th>Books</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var e in group.OrderBy(e => e.Days.First().Start))
        {
            var date = e.Days.First();
            <tr>
                <td>@e.Singing.Day</td>
                <td>
                    @if (string.IsNullOrWhiteSpace(e.Singing.SingingUrl))
                    {
                        @e.Singing.Name
                    }
                    else
                    {
                        <a href="@e.Singing.SingingUrl">@e.Singing.Name</a>
                    }
                    
                    @if (!string.IsNullOrWhiteSpace(e.Singing.LocationUrl))
                    {
                        <a href="@e.Singing.LocationUrl">(Map)</a>
                    }
                </td>

             
                @if (date.Start == date.End)
                {
                    <td>@date.Start.ToString("ddd, dd MMM yyyy")</td>
                }
                else
                {
                    <td>@date.Start.ToString("ddd, dd MMM yyyy") - @date.End.ToString("ddd, dd MMM yyyy")</td>
                }
                <td>@e.Singing.Book</td>
                <td>@e.Singing.Location; @(string.IsNullOrWhiteSpace(e.Singing.Info) ? string.Empty : "Info: " + e.Singing.Info)</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
}