@using System.Drawing
@using Jmelosegui.Mvc.GoogleMap
@using Microsoft.Azure
@using SingingFinder.Core
@using SingingFinder.Web.Models
@using WebGrease.Css.Extensions
@model SingingsViewModel

@{

    var cookie = Request.Cookies["myMapCookie"];
    var value = cookie == null ? "" : cookie.Value ?? "";
    var lat = 42.2072;
    var lng = -49.5601;
    var zoom = 3; // default zoom
    var parts = value.Split('_');
    if (parts.Length == 3)
    {
        double.TryParse(parts[0], out lat);
        double.TryParse(parts[1], out lng);
        int.TryParse(parts[2], out zoom);
    }

    var singingsByLocation = Model.Events.GroupBy(e => e.Singing.Location);
}

<p>@Model.Description()</p>

@(Html.GoogleMap()
      .ApiKey(CloudConfigurationManager.GetSetting("GoogleMaps.ApiKey"))
      .Name("map")
      .Height(600)
      .Zoom(zoom)
      .Center(center => center.Latitude(lat).Longitude(lng))
      .ClientEvents(events => events
          .OnMapDragEnd("saveMapState")
          .OnZoomChanged("saveMapState"))
      .Markers(factory =>
          singingsByLocation.ForEach(location =>
              factory.Add()
                  .Latitude(location.Key.Latitude)
                  .Longitude(location.Key.Longitude)
                  .Title(location.Key.Name)
                  .Window(window =>
                      window.Add()
                          .MaxWidth(600)
                          .DisableAutoPan(false)
                          .Content(
                              @<text>
                                  @{
                                      var annual = location.Where(s => s.Singing.Type == SingingType.Annual).OrderBy(s => s.Days.First().Start).ToList();
                                      var regular = location.Where(s => s.Singing.Type == SingingType.Regular).ToList();
                                      var regularDays = regular.SelectMany(r => r.Days).Select(d => d.Start).OrderBy(s => s).Distinct().ToList();
                                  }
                                  <div>
                                      <h2><a href="https://www.google.com/maps/dir/Current+Location/@(location.Key.Latitude),@(location.Key.Longitude)" target="_blank">@location.Key.Name</a></h2>
                                      <div id="bodyContent">
                                          @* Annual Singings *@
                                          @if (annual.Any())
                                          {
                                              <h3>Annual Singings</h3>
                                              foreach (var e in annual)
                                              {
                                                  var start = e.Days.First().Start;
                                                  var end = e.Days.First().End;

                                                  if (start == end)
                                                  {
                                                      <h4>@start.ToString("ddd, MMM dd yyyy")</h4>
                                                  }
                                                  else
                                                  {
                                                      <h4>@start.ToString("ddd, MMM dd yyyy") - @end.ToString("ddd, MMM dd yyyy")</h4>
                                                  }
                                                  if (!string.IsNullOrWhiteSpace(e.Singing.Name))
                                                  {
                                                      <p>@e.Singing.Name</p>
                                                  }
                                                  <p>@e.Singing.Day in @e.Singing.Month</p>
                                                  if (!string.IsNullOrWhiteSpace(e.Singing.Time))
                                                  {
                                                      <p><b>Time:</b> @e.Singing.Time</p>
                                                  }
                                                  <p><b>Book:</b> @e.Singing.Book</p>
                                                  <p><b>Info:</b> @Html.Raw(e.Singing.Info)</p>
                                              }
                                          }

                                          @* Local Singings *@
                                          @if (regular.Any())
                                          {
                                              <h3>Regular (Local) Singings</h3>
                                              foreach (var e in regular.OrderBy(s => s.Days.First().Start))
                                              {

                                                  <h4>@e.Singing.Day@(string.IsNullOrWhiteSpace(e.Singing.Time) ? "" : ", " + e.Singing.Time)</h4>
                                                  <p><b>Book:</b> @e.Singing.Book</p>
                                                  <p><b>Info:</b> @Html.Raw(e.Singing.Info)</p>
                                                  <p>
                                                      @foreach (var day in e.Days.Take(3))
                                                      {
                                                          @(day.Start.ToString("ddd, MMM dd yyyy"))
                                                          <br/>
                                                      }

                                                      @if (e.Days.Count() > 3)
                                                      {
                                                          <a data-toggle="collapse" data-target="#demo">Show More...</a>
                                                          <div id="demo" class="collapse">
                                                              @foreach (var day in e.Days.Skip(3))
                                                              {
                                                                  @(day.Start.ToString("ddd, MMM dd yyyy"))
                                                                  <br/>
                                                              }
                                                          </div>
                                                      }
                                                  </p>
                                              }
                                          }


                                      </div>
                                  </div>
                               </text>
                          )
                  )
              )
      ))

@(Html.GoogleMap().ScriptRegistrar())