@using Jmelosegui.Mvc.GoogleMap
@using Microsoft.Azure
@using SingingFinder.Core
@using WebGrease.Css.Extensions
@model IEnumerable<Event>

@{

    var cookie = Request.Cookies["myMapCookie"];
    var value = cookie == null ? "" : cookie.Value ?? "";
    var parts = value.Split('_');
    double lat=0.0, lng = 0.0;
    int zoom = 6; // default zoom
    double.TryParse(parts[0], out lat);
    double.TryParse(parts[1], out lng);
    int.TryParse(parts[2], out zoom);
}

<p>@(Model.Count()) singing(s) found in this date range.</p>

@(Html.GoogleMap()
      .ApiKey(CloudConfigurationManager.GetSetting("GoogleMaps.ApiKey"))
      .Name("map")
      .Height(600)
      .Zoom(zoom)
      .Center(center =>
      {
          if (lat == 0.0 && lng == 0.0)
          {
              center.UseCurrentPosition();
          }
          else
          {
              center.Latitude(lat).Longitude(lng);
          }
      })
      .ClientEvents(events => events
        .OnMapDragEnd("saveMapState")
        .OnZoomChanged("saveMapState"))
      .Markers(factory =>
          Model.ForEach(marker =>
              factory.Add()
                  .Latitude(marker.Singing.Latitude)
                  .Longitude(marker.Singing.Longitude)
                  .Title(marker.Singing.Name)
                  .Window(window =>
                      window.Add()
                          .MaxWidth(600)
                          .DisableAutoPan(false)
                          .Content(
                              @<text>
                                  <div>
                                      @if (string.IsNullOrWhiteSpace(marker.Singing.SingingUrl))
                                      {
                                          <h2>@marker.Singing.Name</h2>
                                      }
                                      else
                                      {
                                        <h2><a href="@marker.Singing.SingingUrl" target="_blank">@marker.Singing.Name</a></h2>
                                      }
                                      <div id="bodyContent">
                                          @if (marker.Days.Start == marker.Days.End)
                                          {
                                              <p><b>@marker.Days.Start.ToString("ddd, MMM dd yyyy")</b> (@marker.Singing.Day in @marker.Singing.Month).</p>
                                          }
                                          else
                                          {
                                              <p><b>@marker.Days.Start.ToString("ddd, MMM dd yyyy") - @marker.Days.End.ToString("ddd, MMM dd yyyy")</b> (@marker.Singing.Day in @marker.Singing.Month).</p>
                                          }
                                          <p><b>Info:</b> @Html.Raw(marker.Singing.Info)</p>
                                          <p><b>Location:</b> @marker.Singing.Location</p>
                                          <p><a href="@Html.Raw(marker.Singing.LocationUrl)" target="_blank">Get Directions in Google Maps</a>
                                          </p>
                                      </div>
                                  </div>
                               </text>
                          )
                  )
              )
      ))

@(Html.GoogleMap().ScriptRegistrar())