@using System.Drawing
@using Jmelosegui.Mvc.GoogleMap
@using Microsoft.Azure
@using SingingFinder.Core
@using WebGrease.Css.Extensions
@model SingingFinder.Web.Models.SingingsViewModel

@{

    var cookie = Request.Cookies["myMapCookie"];
    var value = cookie == null ? "" : cookie.Value ?? "";
    double lat = 42.2072;
    double lng = -49.5601;
    int zoom = 3; // default zoom
    var parts = value.Split('_');
    if (parts.Length == 3)
    {
        double.TryParse(parts[0], out lat);
        double.TryParse(parts[1], out lng);
        int.TryParse(parts[2], out zoom);
    }
}

<p>@Model.Description()</p>

@(Html.GoogleMap()
      .ApiKey(CloudConfigurationManager.GetSetting("GoogleMaps.ApiKey"))
      .Name("map")
      .Height(600)
      .Zoom(zoom)
      .Center(center => center.Latitude(lat).Longitude(lng))
      .ClientEvents(events => events
        .OnMapDragEnd("saveMapState")
        .OnZoomChanged("saveMapState"))
      .Markers(factory =>
          Model.Events.ForEach(marker =>
              factory.Add()
                  .Latitude(marker.Singing.Latitude)
                  .Longitude(marker.Singing.Longitude)
                  .Title(marker.Singing.Name)
                  .Icon((marker.Singing.Type.Equals(SingingType.Annual) ? "~/Content/Images/marker_redA.png" : "~/Content/Images/marker_greyR.png"), new Size(44,48))
                  .Window(window =>
                      window.Add()
                          .MaxWidth(600)
                             .DisableAutoPan(false)
                          .Content(
                              @<text>
                                  <div>
                                      @if (string.IsNullOrWhiteSpace(marker.Singing.SingingUrl))
                                      {
                                          <h2>@marker.Singing.Name</h2>
                                      }
                                      else
                                      {
                                        <h2><a href="@marker.Singing.SingingUrl" target="_blank">@marker.Singing.Name</a></h2>
                                      }
                                      <div id="bodyContent">
                                          <p><em>@marker.Singing.Day</em></p>
                                          <p>
                                              @foreach (var days in marker.Days.Take(7))
                                              {
                                                  if (days.Start == days.End)
                                                  {
                                                      <b>@days.Start.ToString("ddd, MMM dd yyyy")</b><br/>
                                                  }
                                                  else
                                                  {
                                                      <b>@days.Start.ToString("ddd, MMM dd yyyy") - @days.End.ToString("ddd, MMM dd yyyy")</b><br/>
                                                  }
                                              }
                                              @(marker.Days.Count() > 7 ? "..." : string.Empty)
                                          </p>
                                          <p><b>Book:</b> @marker.Singing.Book</p>
                                          <p><b>Info:</b> @Html.Raw(marker.Singing.Info)</p>
                                          <p><b>Location:</b> @marker.Singing.Location</p>
                                          <p><a href="@Html.Raw(marker.Singing.LocationUrl)" target="_blank">Get Directions in Google Maps</a>
                                          </p>
                                      </div>
                                  </div>
                               </text>
                          )
                  )
              )
      ))

@(Html.GoogleMap().ScriptRegistrar())